:root{
    --main-text-cl :#757575;
    --title-cl: #212121;
    --accent-cl: #2196F3;
    --dark-bg:#2F303A;
    --grey-bg:#F5F4FA;
    --white-cl:#FFFFFF;
    --social__icon-cl:#AFB1B8;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
}